variables:
  project:  './Src/HNSW.Net/HNSW.Net.csproj'
  buildConfiguration: 'Release'
  targetVersion: yy.M.$(build.buildId)

trigger:
- master

pool:
  vmImage: 'windows-latest'

steps:
- task: NuGetToolInstaller@0


- task: PowerShell@2
  displayName: 'Create CalVer Version'
  inputs:
    targetType: 'inline'
    script: |
      $dottedDate = (Get-Date).ToString("yy.M")
      $buildID = $($env:BUILD_BUILDID) 
      $newTargetVersion = "$dottedDate.$buildID"
      Write-Host "##vso[task.setvariable variable=targetVersion;]$newTargetVersion"
      Write-Host "Updated targetVersion to '$newTargetVersion'"


- task: UseDotNet@2
  displayName: 'Use .NET 8.0 SDK'
  inputs:
    packageType: sdk
    version: 8.x
    includePreviewVersions: false
    installationPath: $(Agent.ToolsDirectory)\dotnet

- task: DotNetCoreCLI@2
  inputs:
    command: 'restore'
    projects: '$(project)'
  displayName: 'restore nuget'

- task: DotNetCoreCLI@2
  inputs:
    command: 'build'
    projects: '$(project)'
    arguments: '-c $(buildConfiguration) /p:Version=$(targetVersion) /p:LangVersion=latest'

- task: DotNetCoreCLI@2
  inputs:
    command: 'pack'
    packagesToPack: '$(project)'
    versioningScheme: 'off'
    configuration: '$(buildConfiguration)'
    buildProperties: 'Version="$(targetVersion)";LangVersion="latest"'
    nobuild: true

- task: NuGetCommand@2
  inputs:
    command: 'push'
    packagesToPush: '**/*.nupkg'
    nuGetFeedType: 'external'
    publishFeedCredentials: 'nuget-curiosity-org'
  displayName: 'push nuget'
